:root{
    --background-white: rgb(255, 255, 255);
    --background-black: black;
    --background-black-grey: #6C6565;
    --background-grey: #EBEBEB;
    --background-grey-dark: #e9e0cd;
    --background-black-orange: #573829;
    --transition-03s: 0.3s ease-in-out;
    --transition-05s: 0.5s;
}
*{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-decoration: none;
    outline-style: none;
    outline-color: none;
}
body {
    background-color: var(--background-white);
    width: 100%;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.8s ;
    font-family: sans-serif ,fantasy;
    letter-spacing: 0.5px;
    color: rgb(33, 26, 59);
    transition: 3s ease-in-out;
}
.table{
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: var(--background-grey);
    margin-block: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px;
    transition: var(--transition-05s);
}
.table>.point{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--background-black-grey);
    position: absolute;
    left: -20px;
    top: 30px;
    transition: var(--transition-03s);
}
.table:hover{
    background-color: var(--background-grey-dark);
    .imageAvatar>img{
        width: 25px;
        height: 25px;
    }
    .point{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--background-grey-dark);
        position: absolute;
        left: -20px;
        top: 30px;
        transition: var(--transition-03s);
    }
    
}



h1  {
        padding: 0;
    }
h3  {
        padding: 0;
    }
h5  {
        padding: 0;
        margin: 5px;
}
p  {
        padding: 0;
        margin: 0;
}

/* 
span{
        padding: 0;
        font-weight: 300;
        color: white;
    }
    svg {
        color: white;
        margin-block: 20px;
        margin-top: 0;
        transition: all 0.3s;
    }
    svg:hover{
        transform: scaleY(1.15);
        background-color: rgb(200, 215, 228); 
    }
    */

.nameBlock{
    display: flex;
    height: 30px;
    margin: 0;
    flex-direction: row;
    align-items: center;
}

#username{
    font-size: 22px;
    font-weight: normal;
    color: var(--background-black-orange);
    margin-block: 0;
    margin-left: 0;
}

#name{
    font-size: 24px;
    font-weight: lighter;
    color: var(--background-black-orange);
    margin-left: 15px;
    margin-block: 0;
    padding: 0;
}

#email{
    font-size: 14px;
    font-weight: normal;
    color: var(---background-black-grey);
    margin-top: 0;
}
.imageAvatar{
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    /* background-color: var(--background-white); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;
}
.imageAvatar>img{
    width: 20px;
    height: 20px;
    transition: 0.1s ease-in;
    border-radius: 50%;
}
