:root{
    --background-white: rgb(255, 255, 255);
    --background-black: black;
}

body {
    background-color: var(--background-white);
    width: 100%;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.8s ;
    font-family: sans-serif ,fantasy;
    letter-spacing: 0.5px;
    color: rgb(33, 26, 59);
}
.table{
    background-color: red;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.avatarStyle{
    width: 40px;
    height: 40px;
    right: 0;
}
/* 
h1  {
        padding: 0;
        color: rgb(0, 68, 255);
    }
h3  {
        padding: 0;
    }
h5  {
        padding: 0;
        margin: 5px;
}
p  {
        padding: 0;
        color: rgb(0, 68, 255);
}
span{
        padding: 0;
        font-weight: 300;
        color: white;
    }
    svg {
        color: white;
        margin-block: 20px;
        margin-top: 0;
        transition: all 0.3s;
    }
    svg:hover{
        transform: scaleY(1.15);
        /* background-color: rgb(200, 215, 228); */
    }



#username{
    font-size: 22px;
    font-weight: 500;
    color: var(--background-black);
}

#name{
    font-size: 18px;
    font-weight: 500;
    color: var(--background-black);
}

#email{
    font-size: 12px;
    font-weight: 500;
    color: var(--background-black);
}

